body {
    background-color: #f8f9fa; /* Light grey background color */
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #28a745; /* Green text color */
    text-align: center;
    margin-top: 20px;
}

/* Center the input form at the top */
.input {
    margin: 20px auto 0; /* Center horizontally with top margin */
    max-width: 1000px; /* Adjusted maximum width */
    padding: 20px;
    background-color: #ffffff; /* White background color */
    border: 1px solid #28a745; /* Green border color */
    border-radius: 5px; /* Rounded corners */
}

form {
    text-align: left;
}

label {
    display: inline-block; /* Display labels in line */
    margin-bottom: 10px;
}

/* Adjusted width for form elements with margin */
input[type="text"],
input[type="number"],
select {
    width: calc(20% - 10px); /* Adjusted width for form elements with margin */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Include padding and border in the width */
}

input[type="submit"] {
    background-color: #28a745; /* Green background color */
    color: #ffffff; /* White text color */
    padding: 10px;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
}

/* Adjusted styling for Select Columns section */
.select-genre label {
    display: inline-block;
    margin-right: 10px; /* Add some space between label and checkbox */
    width: auto; /* Allow labels to take as much width as needed */
}

/* Adjusted styling for Select Columns section */
.select-columns label {
    display: inline-block;
    margin-right: 10px; /* Add some space between label and checkbox */
    width: auto; /* Allow labels to take as much width as needed */
}

/* Output table styles */
.output {
    margin: 20px auto; /* Center horizontally with top margin */
    padding: 20px;
    background-color: #ffffff; /* White background color */
    border: 1px solid #28a745; /* Green border color */
    border-radius: 5px; /* Rounded corners */
    max-width: 800px; /* Limit the maximum width */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 8px;
    border: 1px solid #28a745; /* Green border color */
}

a {
    color: #28a745; /* Green link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Output table styles */
.output {
    margin: 20px auto; /* Center horizontally with top margin */
    padding: 20px;
    background-color: #ffffff; /* White background color */
    border: 1px solid #28a745; /* Green border color */
    border-radius: 5px; /* Rounded corners */
    max-width: 800px; /* Limit the maximum width */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 8px;
    border: 1px solid #28a745; /* Green border color */
}

a {
    color: #28a745; /* Green link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}